@import url("./reset.css");
@import url("./fonts.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

body, #root {
    min-height: 100vh;
}
#root {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#content {
    flex-grow: 1;
}

.article h2 {
    font-weight: 700 !important;
    font-size: 2.5rem !important;
    margin-top: 2rem;
    color: #5b2b5e;
}

.article .article-content img {
    display: none;
}

.article .article-content {
    margin-bottom: 3rem;
}

.landing-wave {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-repeat: no-repeat;
    background-size: cover;
}

.article ul {
    list-style-type: disc;
    padding-left: 50px;
    margin: 20px 0;
}

.article-intro p {
    font-weight: 700;
}

progress::-moz-progress-bar {
    background: #5b2b5e;
}

.progress-bar {
    height: 30px;
}

progress::-webkit-progress-value {
    transition: width 0.5s;
}

.quote-sign {
    color: #ededed;
}