@import url("./reset.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

body, #root {
    min-height: 100vh;
}
#root {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}